/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */

html,
body,
.view {
    height: 100%;
}

.myBlueBG {
    /* color: #2980B9; */
    background-color: #2980B9!important;
}

.myBlue {
    color: #2980B9 !important;
}

.light-blue {
    background-color: #1278B9!important;
}


/* Account Modal */

.waves-ripple {
    background-color: rgba(41, 128, 185, .2)!important;
}

.waves-effect>.nav-link {
    color: #333 !important;
}

.waves-effect>.active {
    color: #2980B9 !important;
}


/* /Account Modal !!! */


/* Full Page Carousel itself*/

.carousel {
    height: 100%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
    height: 100%;
}


/* Navbar animation */

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
    background-color: rgba(41, 128, 185, .7);
}

.carousel-multi-item .col-md-4 {
    float: left;
    width: 33.33%;
    max-width: 100%;
}

.clearfix .navbar {
    background-color: rgba(41, 128, 185, .7)!important;
}


/* Adding color to the Navbar on mobile */


/* and (min-width: 600px) */

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .top-nav-collapse {
        background-color: rgba(41, 128, 185, .7);
    }
    .carousel-multi-item .col-md-4 {
        display: inline-block;
        width: 33.33%;
        max-width: 100%;
    }
    .d-none {
        display: block !important;
    }
    .card .card-body .card-text {
        font-size: .7rem;
    }
    h5,
    a {
        font-size: 1rem;
    }
    .mb-4,
    .my-4 {
        margin-bottom: .7 rem !important;
    }
    .mt-4,
    .my-4 {
        margin-top: .7rem !important;
    }
    .clearfix .navbar {
        float: none !important;
    }
}


/* Footer color for sake of consistency with Navbar */

.page-footer {
    /* background-color: rgba(99, 81, 206, .7); */
    background-color: #333;
}